#floorselection{
    display:flex;
    flex-flow:row;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    gap:0px;
    background-color:rgb(237, 237, 237);
}

#floorselection > button{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: start;
    font-size:14px;
    padding:5px 15px;
    cursor:pointer;
    border:0px;
    border-radius:10px;
    background-color:rgb(237, 237, 237);
}

#floorselection >button:hover{
    background-color:rgb(219, 219, 219);
}

#floorselection >button.selected{
    background-color:rgb(180, 180, 180);
}

.upt{
    font-size:12px;
    margin-right:5px;

}

.washroomLabel{
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bolder;
    color:white;
    font-size:20px;
}

.washroomListed{
    display:flex;
    flex-flow:column;
    margin:10px;
    border:4px black solid;
    border-radius:10px;
    padding:20px;

    font-family:Helvetica, Arial, sans-serif;
}

.statusIndicatorBubble{
    height:20px;
    width:20px;
    border-radius: 50%;
    display:block;
    background-color: black;
}

.incidentLabel{
    margin-top:5px;
    font-size:13px;
    font-weight: 900;
    text-transform: uppercase;
}

.sectionLabelSpan{
    font-size:13px;
    font-weight: 900;
    text-transform: uppercase;
    display:flex;
    font-family:Helvetica, Arial, sans-serif;
    align-items: center;
}

.sectionLabelSpan > span{
    height:2px;
    width:100%;
    margin-left:10px;
    background-color:black;
}